body{
	background: linear-gradient(90deg, rgba(0, 0, 0,0.3) 52.5%, rgba(0, 0, 0,0.3) 5%), url("../img/fondo.jpg");
	overflow-x:hidden;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
	background-attachment: fixed;
	background-size: cover;
}

nav{
	width: 100%;
	padding:0;;
	color: white;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  transition: 1s all;

}

.scrolled{
  background-color: #1a58a0c5;
  transition: 0.5s all;

}

html{
  scroll-behavior: smooth;
}

.divform{
  margin-top: 150px;
  height: calc(100vh);
}

form{
  margin: 20px;
}

input{
  border-radius: 0 !important;
}

.textoform{
	text-align: center;
  font-size: 50px; 
  margin-top: 80px;
	margin-bottom: 40px;
}

.columnaform{
  position: relative;
  height: 700px;
  background-color: #2b2b2bdb;
}

.overlay{
  transition: all 0.5s;
  opacity: 1  ;
  position: absolute;
  bottom: 0;
  padding-top: 20px;
  width: 100%;
  font-size: 30px;
  background: linear-gradient(0deg,#012f64c4 0%,#012f64c7 10%); 
}

.overlay:hover{
  transition: all 0.5s;
  opacity: 1;
}

.text{
  padding-bottom: 30px;
  padding-left: 25px;
}

.boton-re-loco{
  width: 89%;
  transition: all 0.5s;
  margin-top: 15px;
	border: none;
  position: absolute;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  border: 1px solid #ffffff;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  color: #09468c;
  border-radius: 0;
}

.boton-re-loco:hover{
  background-color: #1A59A0;
  border: #1A59A0;
  color: white;
}

.footer{
  margin-top: 45px;
	background-color: #1A59A0;
	width: 100%;
	color: white;
}